[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
scikit-learn = "*"
rdkit = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
